html {
    /* font-size: 62.5%; */
    line-height: 1.6rem;
    font-family: "Fraunces", serif;
    box-sizing: border-box;

}

.material-icon-outlined {
    vertical-align: middle;
    line-height: 1px;
}

body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

/* ------------HEADER------------- */
.header {
    grid-area: header;
    height: 70px;
    background-color: #cfe0ec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.header-left input {
    border-radius: 20px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 2px 12px;
    margin-left: 4px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease;
}

.header-left input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    /* border: 1px solid #000; */
}

.header-right > a > i {
    color: #000;
}
.material-icons-outlined {
    font-size: 18px;
}


/* ------------SIDEBAR------------- */

#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #fff;
    color: #000;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.menu-icon {
    display: none;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.sidebar-title > i {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-brand > i {
    margin-right: 6px;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
}

.sidebar-list-item a {
    text-decoration: none; /* Removes underline */
    color: inherit;       /* Inherits the color from the parent element */
}

.sidebar-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
}

/* ------------MAIN------------- */

.main-container {
    grid-area: main;
    background-color: #fafaf9;
    overflow-y: auto;
    padding: 20px 20px;
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-title > p {
    font-size: 20px;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card-col,
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
    border-left: 7px solid #246dec;
}

.card:nth-child(2) {
    border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
    border-left: 7px solid #367952;
}

.card:nth-child(4) {
    border-left: 7px solid #cc3c43;
}

.card > span {
    font-size: 20px;
    font-weight: 600; 
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > p {
    font-size: 16px;
}

.card-inner > i {
    font-size: 35px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.charts-card {
    background-color: #fff;
    /* margin-bottom: 20px; */
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

/* --------------MEDIA QUERIES-------------- */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
            "header"
            "main";
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title > i {
        display: inline;
    }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

    .details {
        grid-template-columns: 1fr;
    }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }

    .container-order {
        grid-template-columns: 1fr;
    }

    .details {
        grid-template-columns: 1fr;
    }
}



/* ============================= Manage Orders ===============================*/
/* .container-order {
    display: grid;
    grid-template-columns: 2fr 1fr;
} */

.main-cards-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
    padding: 0 20px;
}

.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card-2:first-child {
    border-left: 7px solid #246dec;
}

.card-2:nth-child(2) {
    border-left: 7px solid #f5b74f;
}

/* Order details list */
 .details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px;  */
 }


 .details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
 }
 .details .cardHeader {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .cardHeader h2 {
    font-weight: 600;
    color: #000;
    margin: 4px 0;
 }

 .table-product .btn,
 .table-category .btn,
 .cardHeader .btn {
    position: relative;
    padding: 4px 14px;
    background: #000;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    margin: 2px 4px;
 }

 .recentOrders label {
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .recentOrders input {
    border-radius: 20px;
    width: 350px;
    height: 30px;
    border: none;
    padding: 2px 12px;
    margin-left: 4px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
 }

 .recentOrders input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    /* border: 1px solid #000; */
}

.table-product table,
.table-category table,
 .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;
 }


 .table-product table thead td,
 .table-category table thead td,
 .details table thead td {
    font-weight: 600;
 }

 .table-product table tr,
 .table-category table tr,
 .details .recentOrders table tr {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 }


 .table-product table tbody tr:last-child ,
 .table-category table tbody tr:last-child ,
 .details .recentOrders tbody tr:last-child {
    border-bottom: none;
 }

 .table-product table tbody tr:hover,
 .table-category table tbody tr:hover,
 .details .recentOrders table tbody tr:hover {
    background: #cfe0ec;
 }

 .details .recentOrders table tr td {
     padding: 10px;
 }

 .details .recentOrders table tr td:last-child {
    text-align: end;
 }

 .details .recentOrders table tr td:nth-child(3) {
    text-align: end;
 }

 .details .recentOrders table tr td:nth-child(4) {
    text-align: center;
 }

 .status.delivered {
    padding: 2px 4px ;
    background: #8de02c;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
 }

 .status.pending {
    padding: 2px 4px ;
    background: #e9b10a;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
 }

 .status.return {
    padding: 2px 4px ;
    background: #f00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
 }

 .status.inProgress {
    padding: 2px 4px ;
    background: #1795ce;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
 } 

 .recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
 }

 .recentCustomers .imgBox {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
 }

 .recentCustomers .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .recentCustomers table tr:hover {
    background: #cfe0ec;
    color: #000;
 }

 .recentCustomers table tr {
    height: 40px !important;
 }

 .recentCustomers table tbody tr td {
    height: 40px !important;
    padding: 0 10px;
 }

 .recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
 }

 .recentCustomers table tr td h4 span {
    font-size: 14px;
    color: #828181;
 }

 .recentCustomers table tr:hover {
    background: #cfe0ec;
    color: #000;
 }

 .recentCustomers table tr:hover td h4 span {
    color: #000;
 }

 .edit-mode tbody input {
    display: inline-block;
}

.edit-mode .status {
    background: #ccc;
}
/* 
.edit-mode tbody td {
    color: gray;
} */



/* =====================Product management=================== */
.main-card-chart {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin-bottom: 20px;
}

.main-cards-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-col h2 {
    margin-top: 0;
    font-weight: 400;
}

.card-col span {
    font-size: 40px;
}

/* .charts-one {
    display: grid;
    grid-template-columns: 1fr;
} */

.category {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.table-category {
    position: relative;
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #d2d2d3;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
 }

.table-category table tr {
    padding: 10px 0; /* change the value to your desired padding */
}

.table-category table td {
  height: 40px; /* change the value to your desired height */
}

.table-category table tr td:nth-child(2) {
    text-align: center;
 }

.table-category table tr td:last-child {
    text-align: center;
 }

 .table-category .btn-mode {
    margin: 20px 0;
 }
 
 .table-category .btn {
    margin: 0;
    top: 20px;
}

.charts-one {
    display: grid;
}

/* Style for the pop-up form */
.popupOrder,
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-order-content,
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 36%;
    height: 30%;
    border-radius: 10px;
}

.popupTitleOrder,
.popup-content h2 {
    text-align: center;
    margin-top: 10px;
}

.orderClose,
.productAddClose,
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.orderClose:hover,
.orderClose:focus,
.productAddClose:hover,
.productAddClose:focus,
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* 
#productForm, */
#categoryForm {
    display: flex;
    flex-direction: column;
}
/* 
#productQuantity, */
#categoryName {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
}

#popupTitleOrder:focus,
#productQuantity:focus,
#productName:focus,
#categoryName:focus {
    outline: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 8px 18px;
    font-size: 16px;
}

/*====== table of product======= */
.table-product table {
    margin-bottom: 40px;
}

.table-product table td {
    height: 44px;
}

.table-product {
    position: relative;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #d2d2d3;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
 }

/* Pop up add product */
.popupProduct {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.product-popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 45px;
    border: 1px solid #888;
    width: 40%;
    height: 58%;
    border-radius: 10px;
}

#productName {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

#orderForm select, 
#productForm select {
    padding: 6px;
    font-size: 15px;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    /* margin-left: 11px; */
}

#orderForm select option,
#productForm select option {
    font-size: 14px;
}

#productQuantity {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 8px;
}

.product-popup-content h2 {
    text-align: center;
    margin-top: 10px;
}