.text-box{
    margin-top: 150px;
    height: 100px;
    border: aliceblue;
}

.Appt-container-intro {
    text-align: center;
}

.Appt-container-intro-h1{
    font-size: 40px;
    /* margin-left: 670px; */
    text-align: center;
    font-weight: 500;
    color: #009384;
    cursor: grab;
}

.Appt-container-intro-h1:hover{
    text-decoration: underline;
    font-weight: 5000;
    color: #8DC1CC;
}

.Appt-container-intro p{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 18px;
}

.appt__img{
    background-repeat: no-repeat;
    width: 60%;
    padding-top: 48%;
    margin-top: 10px;
}

.appt__box-1{
    margin-top: 60px;
    position: relative;
}

.appt__text {
    position: absolute;
    top: 26%;
    width: 32%;
    text-align: center;
    max-width: 80%;
    color: #000;
    line-height: 1.6;
}

.appt__text-right{
    left:70%;
}

.appt__text-right h1{
    font-size: 30px;
    color: #009384;
}

.appt__text-left {
    line-height: 2;
    top: 2%;
    right: 60%;
}
.appt__text-left h1{
    font-size: 28px;
    color: #009384;
}

.appt-img-no2{
    background-repeat: no-repeat;
    background-size: contain;
    height: 630px;
    margin-left: 750px;
}

.appointment__date-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/*form*/

.appointment__headerText {
    margin-left: -40px;
    color: #009384;
    text-align: center;
    font-weight: 500;
}

.appointment-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    height: auto;
}

.appointment__item-content {
    width: 50%;
    /* padding-left: 170px; */
}

.appointment__item{
    width: 50%;
}

fieldset {
    border: none;
}

.label-appointment{
    font-weight: 500;
    text-decoration: underline;
}

.appointment__name-input,
.appointment__email-input {
    display: block;
    width: calc(100% - 60px);
    height: 34px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 1em;
    cursor: pointer;
    transition: width 0.3s ease;
    font-family: "Fraunces", serif;
    outline: none;
}

.appoitment__select {
    padding: 14px 0;
    line-height: 2;
}


.appoinment-btn--input{
    display: block;
    width: calc(100% - 60px);
    height: 56px;
    margin: 34px 0;
    padding: 10px;
    background-color: #8DC1CC;
    color: black;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: width 0.3s ease;
    font-family: "Fraunces", serif;
}

.appoinment-btn--input:hover{
    background-color: #009384;
}

.dos-input {
    padding: 10px 0;
}

.dos-input {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
}

.dos-input .dos {
    width: 30%;
}

.appointment__dos-input{
    text-align: center;
    display: inline-block;
    width: calc(100% - 60px);
    height: 34px;
    background-color: #fff;
    color: #000;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 1em;
    cursor: pointer;
    transition: width 0.3s ease;
    font-family: "Fraunces", serif;
    outline: none;
}

