/* Xóa bỏ margin mặc định của các icon (nếu có) */
.fa-brands fa-*:before {
  margin: 0;
}

body {
  font-family: "Fraunces", sans-serif;
}

.bijou-container {
  border-top: #009384;
  min-width: 75%;
  margin-top: 9%;
  background: #fff;
  padding-bottom: 2px;
}

.bijou-wrapper {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.main-product {
  display: grid;
  box-shadow: 0 0.5rem 1.5rem #8DC1CC;
  border-radius: 0.25rem;
  /* margin-left: 263px; */
  overflow: hidden;
  width: 700px;
}

.main-product img {
  cursor: -webkit-zoom-in;
  align-content: stretch;
}

#main-img {
  transition: transform 0.3s ease;
}

#main-img:hover {
  cursor: -webkit-zoom-in;
  transform: scale(2);
}

.column-left {
  /* margin-left: 60px; */
  /* width: 60%; */
  float: left;
}

.column-right {
  width: 30%;
  margin-left: -20px;
  left: 0;
  float: right;
  margin-top: 40px;
  /* margin-right: 100px; */
}

.column-left .column-right {
  width: 50%;
}

.option-btn {
  margin-right: 15px;
  border: whitesmoke;
  box-shadow: 0.5rem 0.5rem 1.5rem #8DC1CC;
  border-radius: 0.25rem;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.bijou-optionbox {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 3%;
  /* margin-left: 20px; */
}

.bijou-optionbox button {
  display: inline-block;
  width: 120px;
  height: 120px;
  padding: 10px;
}
/* 
.column-right {
  float: right;
  margin-right: 100px;
} */

h2 {
  color: #000;
  font-family: "Fraunces", sans-serif;
  font: bold;
  font-size: 30px;
  margin: 20px 0 20px 0;
}

h3 {
  color: #009384;
}

h5,
medium {
  color: #000;
}

.button-ne {
  width: 300%;
  padding: 20px;
  border: none;
  outline: none;
  background: #fff;
  color: #000;
  margin-top: 5%;
}

.button-ne .add {
  background-color: white;
  width: 120px;
  height: 80px;
  font-family: "Fraunces", sans-serif;
  font-size: medium;
  margin-right: 20px;
}

.button-ne .buy {
  background-color: white;
  width: 120px;
  height: 80px;
  font-family: "Fraunces", sans-serif;
  font-size: medium;
}

.button-ne .buy:hover {
  background-color: #8DC1CC;
  transition: ease-in-out(4s);
}

.button-ne .add:hover {
  background-color: #8DC1CC;
  transition: ease-in-out(4s);
}

.description-box {
  background-color: #F5F5F5;
  display: inline-block;
  text-align: left;
  z-index: 1;
}

.description-ne {
  justify-items: left;
}

.description-ne h2 {
  margin-left: 10px;
  font-weight: 300;
  transition: font-weight 0.2s ease-in;
}

.description-ne h2:hover {
  font-weight: bold;
}

.description-ne h3 {
  color: #009384;
  text-align: left;
  margin-left: 10px;
  margin-right: 30px;
  font-weight: 400;
  line-height: 2rem;
  transition: font-size 0.2s ease-in-out;
}

.description-ne h3:hover {
  font-size: larger;
}

.description-ne h4 {
  text-align: left;
  margin-left: 10px;
  margin-right: 30px;
  font-weight: 400;
  line-height: 2rem;
}

.Book-appt {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  font-weight: bold;
  transition: underline() 2s;
  margin-bottom: 10px;
}

.Book-appt:hover {
  text-decoration: underline;
  cursor: grabbing;
}

@media only screen and (max-width: 768px) {
  .bijou-container {
    max-width: 90%;
    margin: auto;
    height: auto;
  }
  .column-left,
  .column-right {
    width: 100%;
  }
  .bijou-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 511px) {
  .bijou-wrapper {
    display: flex;
    flex-direction: column;
  }
  .bijou-container {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  .column-left,
  .column-right {
    padding: 0;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .bijou-optionbox {
    display: flex;
    flex-wrap: wrap;
  }
}
.wishlist-look-container h2 {
  color: #009384;
  font-size: 1.5rem;
  text-align: center;
}

.h2 .gif {
  height: 20px;
}

.wishlist-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.wishlist-arrow {
  background-color: transparent;
  border: none;
  padding-top: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 30px;
}

.wishlist-arrow:focus {
  outline: none;
}

.wishlist-prev {
  font-family: "Fraunces", sans-serif;
  margin-right: 10px;
}

.wishlist-prev:hover {
  text-decoration: underline;
}

.wishlist-next {
  font-family: "Fraunces", sans-serif;
  margin-left: 10px;
}

.wishlist-next:hover {
  text-decoration: underline;
}

.wishlist-look-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.wishlist-items {
  margin-top: 20px;
  display: flex;
}

.wishlist-items .selected {
  box-shadow: 0rem 1rem 8rem #8DC1CC;
  transform: scale(1.05);
}

.wishlist:last-child {
  margin-right: 0;
}

.experience {
  padding: 6px;
  text-align: center;
  background-color: #fafafa;
  display: block;
  margin-bottom: 0;
}

.experience {
  padding: 6px;
  text-align: center;
  background-color: #fafafa;
}

.experience__heading {
  margin-bottom: 20px;
}

.experience__service-content {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  margin-bottom: 20px;
}

.service-content__item {
  text-align: center;
  width: 23%;
}

.service-content__icon {
  margin-bottom: 10px;
}

.experience__service-text h2 {
  font-size: 18px;
}

.experience__service-text p {
  font-size: 14px;
}

.experience__service-link {
  display: flex;
  justify-content: center;
  /* Căn giữa dòng chữ "Book now" */
  align-items: center;
  /* height: 100%; */
}

.experience__service-link a {
  text-align: center;
  /* Căn giữa từng từ trong "Book now" */
  display: inline-block;
  /* Đảm bảo "Book now" không chiếm toàn bộ chiều rộng */
  vertical-align: middle;
  font-style: italic;
}

.shopCate {
  padding-top: 20px;
}
