.paymentne-container-grid {
    margin-top: 120px;
}

.paymentne__box1-grid h2 {
    font-family: "Fraunces", sans-serif;
}

.paymentne-container-grid__item {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    height: auto;
    /* border-bottom: 2px solid #009384; */
    border-top: 2px solid #009384;
    padding: 30px 30px 0;
}

.paymentne__box1-grid {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    height: auto;
    padding: 30px;
}

.paymentnebox__box1-content-right {
    border-left: 2px solid grey;
}

.paymentnebox__box1-content-right a {
    cursor: pointer;
    margin-left: 40px;
    color: grey;
    background: none;
    border: none;
}

.paymentnebox__box1-content-right a:hover {
    border-bottom: 2px solid #8DC1CC;
}

.paymentnebox__box1-content-left p1 {
    justify-content: center;
    display: flex;
}

.paymentnebox__box1-content-right p1,
.paymentnebox__box1-content-right-header {
    margin-left: 40px;
    justify-content: left;
    display: flex;
}

.paymentne__box1-shippingterm {
    margin-top: 40px;
}


.paymentne__box1-shippingterm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    margin-top: 30px;
}

.paymentne__box1-shippingterm__content {
    text-align: left;
    margin-left: 20px;
}

.title-select {
    display: flex;
    align-items: center;
    margin-left: 20px;

}

.paymentne-select .label {
    font-size: large;
    font-weight: 600;
}

.shipping__input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 10px;
    margin-left: 20px;
}

.label-shipping {
    margin-bottom: 0;
}

.shipping__name-input,
.shipping__address1-input,
.shipping__district1-input,
.shipping__address2-input,
.shipping__district2-input,
.shipping__phone-input {
    font-size: 15px;
    margin-top: 0;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    margin-right: 20px;
}

.label-shipping {
    font-size: 15px;
    font-weight: 500;
}


.title-select label {
    margin-right: 10px;
}

.title-select div {
    display: inline-block;
    margin-right: 10px;
}

.title-select input[type="radio"] {
    margin-right: 5px;
}

*/ .phone-input {
    position: relative;
}

.phone-input span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 5px;
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    cursor: default;
}

.paymentnebox__box2-stbox {
    display: flex;
    background-color: #f5f5f5;
    font-size: 15px;
    flex-direction: column;
    padding: 40px;
}

.paymentne-select {
    font-size: 20px;
}

.paymentnebox__box2-ndbox {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-bottom: 2px solid grey;
}

.paymentnebox__box2-ndbox h2 {
    margin-left: 20px;
}

.paymentnebox__box2-ndbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    gap: 15px;
    height: auto;
    padding: 4px 30px;
}

.product-infor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 600;
    /* margin-top: 100px; */
    gap: 15px;
    /* border-bottom: 2px solid grey; */
}

.paymentne-pay-total {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    gap: 10px;
    margin-left: 45%;
    margin-right: 0;
}

.paymentne-checkoutbtn {
    align-items: center;
    display: flex;
    color: grey;
    background: none;
    border: none;
    font-family: "Fraunces", sans-serif;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
    padding: 30px;
    margin: 0 32% 30px;
}

.paymentne-checkoutbtn:hover {
    background-color: #81d8d0;
    color: black;
    border: #333;
}

.paymentne-container-grid__item__Header {
    display: flex;
    align-items: center;
}

.paymentne-container-grid__item__Header h2 {
    display: inline-block;
    margin-right: 10px;
}

.paymentne-container-grid__item__Header .rengreng-gif {
    display: inline-block;
    vertical-align: middle;
}

.paymentne-container-grid__item__Header .rengreng-gif img {
    height: 2em;
    vertical-align: middle;
}

.paymentnebox__box2-ndbox-grid-right-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 40px;
}

.paymentnebox__box2-ndbox-grid-right-bottom-img1 {
    padding-right: 40px;
}