/* hover vao the a se gach chan */
.underline-transition {
    position: relative;
    text-decoration: none;
    color: #333;
}

.underline-transition::before {
    content: ''; 
    position: absolute;
    bottom: -1px; 
    left: 0;
    width: 0;
    height: 1px;
    background-color: #009384; /* Màu của đường gạch */
    transition: width 0.3s ease; 
}

.underline-transition:hover::before {
    width: 100%; 
}

/* hover vao chu vua in dam vua gach chan */
.underline-transition-bold {
    position: relative;
    text-decoration: none;
    color: #333; /* Màu chữ mặc định */
    font-weight: normal; /* Trọng lượng chữ mặc định */
    line-height: 1.5;
}

.underline-transition-bold:hover {
    text-decoration: underline; /* Gạch chân khi hover */
    font-weight: bold; /* In đậm chữ khi hover */
    text-decoration-color: #009384; /* Màu của gạch chân khi hover */
    text-decoration-thickness: 2px; /* Độ dày của gạch chân khi hover */
    line-height: 1.7; /* Độ cao của dòng khi hover */
}

/* hidden body, footer*/
.hidden-body-footer {
    /* background-color: #2323237e; */
    opacity: 0.2;
    pointer-events: none; /* Ngăn người dùng tương tác */
    transition: background-color 0.3s ease; /* Thêm hiệu ứng transition */
}

.hidden-body-footer main {
    opacity: 0.3;
}

.hidden-body-footer footer {
    opacity: 0.3;
}

.hidden-body-footer video {
    filter: brightness(60%); /* Điều chỉnh độ sáng của video */
    pointer-events: auto;
}

body {
    margin: 0 !important;
}

/* Header */
.header {
    position: fixed;
    z-index: 9999 !important; /* Đảm bảo thanh header hiển thị trên cùng */
    height: 108px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #fff;
    /* border-bottom: 2px solid #81d8d0; */
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Màu nền mờ */
    z-index: -1; /* Hiển thị phía sau thanh header */
    transition: opacity 0.3s ease; /* Hiệu ứng mờ đi */
    opacity: 0; /* Ẩn ban đầu */
}

.header .main-nav__link {
    position: relative;
    font-size: 15px;
    display: -webkit-inline-box;
    justify-content: center;
    display: inline-flex;
    white-space: nowrap;
}

.main-nav.active ~ .header::after {
    opacity: 1; /* Khi main nav được kích hoạt, hiển thị phần mờ */
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    padding: 16px 24px;
    border-top: 4px solid #81d8d0;
    background: #fff;
    z-index: 101;
    position: relative;
    top: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.header__navbar-logo {
    height: 45px;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

/* Search bar button */
.search-bar {
    width: 100%;
    height: 300px;
    display: none;
    position: fixed;
    top: 103px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px 104px 0; /* Sử dụng một lần duy nhất */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    z-index: 9999;
}

.search-bar.show {
    display: block;
}

.search-bar input {
    width: 200px; /* Điều chỉnh chiều rộng tùy theo nhu cầu */
    padding: 5px;
    margin-right: 5px;
}

.search-bar span {
    font-size: 20px;
}

.search-bar .input-search {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.search-input-icon {
    padding-top: 38px;
}


.search-input-icon i {
    padding-left: 0px;
    font-size: 14px;
}

.header__navbar-item {
    margin: 0 15px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 15px;
    color: var(--black-color);
    text-decoration: none;
    font-weight: 100;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}

.tooltip {
        position: absolute;
    top: 50px;
    right: -42px;
    /* left: 50%; */
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 0 10px;
    display: none;
}

.tooltip.show {
    display: block;
}

.tooltip-text {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.header__navbar-icon {
    margin: 6px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: #009384;
    opacity: 1;
    transition: color 0.3s, opacity 0.3s;
    cursor: pointer;
    /* font-weight: bold;  */
}

a {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

li {
    text-align: -webkit-match-parent;
    margin-top: 3px;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    min-height: 1px;
    min-width: 1px;
    height: auto;
}

@media only screen and (min-width: 1024px) {
    .header .main-nav {
        display: none;
    }
}

.header--fix {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
  }

.header .main-nav{
    display: -webkit-box;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    margin: 16px 0 0;
    -webkit-box-pack: center;
    justify-content: center;
    top: -26px;
    margin: 0;
}

.header .main-nav>ul {
    display: -webkit-box;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    margin-left: -24px;
    margin-right: -24px;
}

.header .main-nav>ul>li {
    padding: 0 28px;
}

.main-nav__link:hover + .subnav {
    opacity: 1;
}


.subnav {
    display: none;
}

.subnav.active {
    display: flex;
    justify-content: space-between;
}

.main-nav__link-container:not(.active) .subnav__inner {
    display: none;
}

.main-nav__link:hover + .subnav,
.subnav:hover {
    display: block;
}

.main-nav__link.active + .subnav {
    display: block;
}

.header .sub-nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 21;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 56px;
}

.subnav {
    position: absolute;
    left: 30px;
    top: 27px;
    background-color: #fff;
    z-index: 101;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
    overflow-y: auto;
    padding-top: 20px;
    /* display: none; Di chuyển display: none vào đây */
}

.subnav.active {
    display: block; /* Chỉ hiển thị khi có lớp active */
    opacity: 1;
}

.subnav-container {
    position: relative; 
    display: none;
}

.nav-item:hover > .subnav {
    opacity: 1;
}

.nav-item:hover .subnav-container {
    display: block; /* Hiển thị phần con khi hover vào thẻ cha */
}

/* .subnav__inner {
    display: flex;
} */

.subnav__group {
    padding: 0 10px;
}


.subnav__group h3 {
    /*flex-basis: 100%; /* Đặt lại flex-basis để thẻ h3 tự động co dãn theo nội dung */
    margin-bottom: 10px;
}

.subnav__group ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subnav__group + .subnav__group {
    margin-left: 20px; /* Tạo khoảng cách giữa các nhóm */
}

.subnav__group ul li {
    margin-bottom: 10px; /* hoặc điều chỉnh margin theo nhu cầu */
}

.header .sub-nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 21;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 56px;
    background-color: #fff;
}

.header .sub-nav::before {
    position: absolute;
    width: 100%;
    background-color: #000;
    content: "";
    display: block;
}

.header .sub-nav h3 {
    font-size: 1rem;
    color: #000;
    line-height: 1.71;
    letter-spacing: normal;
    font-family: Santral W01;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
    font-weight: 600;
}

.header .sub-nav a {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    margin: 8px 0;
}

.subnav__img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.subnav__img--half {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    float: right;
    width: 100px;
}

.header-hidden {
    top: -200px;
}


.header .sub-nav__inner {
    display: -webkit-box;
    display: flex;
    max-width: 1176px;
    margin: 0 auto;
}

.header .sub-nav__inner>div:not(.sub-nav__img) {
    flex-basis: 100%;
    padding-right: 41px;
}

.subnav__inner {
    display: grid; /* Sử dụng grid layout */
    grid-template-columns: repeat(3, 1fr); /* Chia layout thành 3 cột */
    grid-gap: 20px; /* Khoảng cách giữa các cột */
    padding: 0px 80px;
}

.subnav__inner.hidden {
    display: none; /* Ẩn đi khi có lớp hidden */
}

a.cta {
    border: 1px solid transparent;
    display: inline-block;
}

a.cta .cta-content .cta-text {
    outline: 0;
    border: 0;
}

a.cta .cta-content .cta-text {
    outline: 0;
    border: 0;
    font-family: Santral W01;
    font-weight: 400;
    font-style: normal;
}

  /* Responsive */
  /* Mobile Nav */
  .nav__bars-btn {
    width: 24px;
    /* height: 28px; */
    display: none;   
}

.nav_overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.nav__mobile {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
}

.nav__mobile-list {
    padding: 0 16px;
    margin-top: 52px;
}

.nav__mobile__link-container {
    margin: 0 14px;
    margin-bottom: 14px;
    margin-right: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

.nav__mobile__link {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding-bottom: 14px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav_mobile-close {
    width: 28px;
    height: 28px;
    font-size: 1.5rem;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .header {
        height: 70px;
    }

    .nav__bars-btn {
        display: block;
    }

    .overlay {
        display: none;
    }

    .nav__mobile.active{
        transform: translateX(0)
    }

    .nav_overlay.active {
        display: block;
    }

    .header__navbar-item-mobile,
    li.header__navbar-item.header__navbar-item-mobile {
        display: none;
    }

}