/* Like mother, like daughter */
.content-intro-img {
    margin-top: 40px;
}

.content-intro-header {
    text-align: center;
}

.content-intro-header p {
    padding: 0 50px;
}

.content-section {
    padding: 60px 0;
}

.content-section__title {
    text-align: center;
}

.content-section__btn {
    text-align: center;
}

.section__product-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    /* background-size: contain; chieu rong anh lon */
    background-size: cover;
}

.section__btn {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 14px;
    background: none;
    height: 40px;
    padding: 8px 38px 10px;
    border: 1px solid #403d3d;
    position: relative;
    cursor: pointer;
    font-family: "Fraunces", serif;
    margin-top: 40px;
}

.section__btn:hover{
    background-color: #8DC1CC;
}

.mother-daughter-story {
    background-color: #fff;
}

.mother-daughter {
    padding: 0;
}

.mother-daughter__text p {
    padding: 0px 50px;
    font-size: 14px;
}

/* Out of the blue */
.content-intro-header{
    margin-top: 150px;
}

.blue__description-img,
.intro-image {
    padding-top: 48%;
    background-repeat: no-repeat;
    background-size: contain;
}

.blue-section__header {
    padding: 20px 40px;
}

.blue-section__header h1 {
    text-align: center;
}

.blue-section__header p {
    text-align: center;
}

/* .blue-section__description {
    display: flex;
    flex-direction: row;
}

.blue__description-img {
    position: relative;
}

.blue__description-text {
    position: absolute;
} */

.blue-section__description {
    position: relative;
}

.blue__description-text {
    position: absolute;
    top: 28%;
    width: 22%;
    text-align: center;
    max-width: 80%;
    color: #000;
}

.blue__description-text-right {
    left: 63%;
}

.blue__description-text-left {
    right: 63%;
}

.blue-section-last {
    margin-bottom: 44px;
}