:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
     
}

html {
    /* HACK */
    /* font-size: 62.5%; */
    line-height: 1.6rem;
    font-family: "Fraunces", serif;
    box-sizing: border-box;

}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__col-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.grid__col-3 {
    padding-left: 14px;
    padding-right: 14px;
    width: calc((100% / 12)* 3); /* 0.25% */
}

.grid__col-4 {
    padding-left: 14px;
    padding-right: 14px;
    width: calc((100% / 12)* 4); /* 0.25% */
}

.grid__col-6 {
    padding-left: 14px;
    padding-right: 14px;
    width: 50%
}