/* hover vao the a se gach chan */
.underline-transition {
    position: relative;
    text-decoration: none;
    color: #333;
}

.underline-transition::before {
    content: ''; 
    position: absolute;
    bottom: -1px; 
    left: 0;
    width: 0;
    height: 1px;
    background-color: #009384; /* Màu của đường gạch */
    transition: width 0.3s ease; 
}

.underline-transition:hover::before {
    width: 100%; 
}

/* hover vao chu vua in dam vua gach chan */
.underline-transition-bold {
    position: relative;
    text-decoration: none;
    color: #333; /* Màu chữ mặc định */
    font-weight: normal; /* Trọng lượng chữ mặc định */
    line-height: 1.5;
}

.underline-transition-bold:hover {
    text-decoration: underline; /* Gạch chân khi hover */
    font-weight: bold; /* In đậm chữ khi hover */
    text-decoration-color: #009384; /* Màu của gạch chân khi hover */
    text-decoration-thickness: 2px; /* Độ dày của gạch chân khi hover */
    line-height: 1.7; /* Độ cao của dòng khi hover */
}

/* hidden body, footer*/
.hidden-body-footer {
    /* background-color: #2323237e; */
    opacity: 0.2;
    pointer-events: none; /* Ngăn người dùng tương tác */
    transition: background-color 0.3s ease; /* Thêm hiệu ứng transition */
}

.hidden-body-footer main {
    opacity: 0.3;
}

.hidden-body-footer footer {
    opacity: 0.3;
}

.hidden-body-footer video {
    filter: brightness(60%); /* Điều chỉnh độ sáng của video */
    pointer-events: auto;
}

body {
    margin: 0 !important;
}

/* Header */
.header {
    position: fixed;
    z-index: 9999 !important; /* Đảm bảo thanh header hiển thị trên cùng */
    height: 108px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #fff;
    /* border-bottom: 2px solid #81d8d0; */
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Màu nền mờ */
    z-index: -1; /* Hiển thị phía sau thanh header */
    transition: opacity 0.3s ease; /* Hiệu ứng mờ đi */
    opacity: 0; /* Ẩn ban đầu */
}

.header .main-nav__link {
    position: relative;
    font-size: 15px;
    display: -webkit-inline-box;
    justify-content: center;
    display: inline-flex;
    white-space: nowrap;
}

.main-nav.active ~ .header::after {
    opacity: 1; /* Khi main nav được kích hoạt, hiển thị phần mờ */
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    padding: 16px 24px;
    border-top: 4px solid #81d8d0;
    background: #fff;
    z-index: 101;
    position: relative;
    top: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.header__navbar-logo {
    height: 45px;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

/* Search bar button */
.search-bar {
    width: 100%;
    height: 300px;
    display: none;
    position: fixed;
    top: 103px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px 104px 0; /* Sử dụng một lần duy nhất */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    z-index: 9999;
}

.search-bar.show {
    display: block;
}

.search-bar input {
    width: 200px; /* Điều chỉnh chiều rộng tùy theo nhu cầu */
    padding: 5px;
    margin-right: 5px;
}

.search-bar span {
    font-size: 20px;
}

.search-bar .input-search {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.search-input-icon {
    padding-top: 38px;
}


.search-input-icon i {
    padding-left: 0px;
    font-size: 14px;
}

.header__navbar-item {
    margin: 0 15px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 14px;
    color: var(--black-color);
    text-decoration: none;
    font-weight: 100;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}

.tooltip {
        position: absolute;
    top: 50px;
    right: -42px;
    /* left: 50%; */
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 0 10px;
    display: none;
}

.tooltip.show {
    display: block;
}

.tooltip-text {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.header__navbar-icon {
    margin: 6px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: #009384;
    opacity: 1;
    transition: color 0.3s, opacity 0.3s;
    cursor: pointer;
    /* font-weight: bold;  */
}

a {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

li {
    text-align: -webkit-match-parent;
    margin-top: 3px;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    min-height: 1px;
    min-width: 1px;
    height: auto;
}

@media only screen and (min-width: 1024px) {
    .header .main-nav {
        display: none;
    }
}

.header--fix {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
  }

.header .main-nav{
    display: -webkit-box;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    margin: 16px 0 0;
    -webkit-box-pack: center;
    justify-content: center;
    top: -26px;
    margin: 0;
}

.header .main-nav>ul {
    display: -webkit-box;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    margin-left: -24px;
    margin-right: -24px;
}

.header .main-nav>ul>li {
    padding: 0 28px;
}

.main-nav__link:hover + .subnav {
    opacity: 1;
}


.subnav {
    display: none;
}

.subnav.active {
    display: flex;
    justify-content: space-between;
}

.main-nav__link-container:not(.active) .subnav__inner {
    display: none;
}

.main-nav__link:hover + .subnav,
.subnav:hover {
    display: block;
}

.main-nav__link.active + .subnav {
    display: block;
}

.header .sub-nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 21;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 56px;
}

.subnav {
    position: absolute;
    left: 30px;
    top: 27px;
    background-color: #fff;
    z-index: 101;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
    overflow-y: auto;
    padding-top: 20px;
    /* display: none; Di chuyển display: none vào đây */
}

.subnav.active {
    display: block; /* Chỉ hiển thị khi có lớp active */
    opacity: 1;
}

.subnav-container {
    position: relative; 
    display: none;
}

.nav-item:hover > .subnav {
    opacity: 1;
}

.nav-item:hover .subnav-container {
    display: block; /* Hiển thị phần con khi hover vào thẻ cha */
}

/* .subnav__inner {
    display: flex;
} */

.subnav__group {
    padding: 0 10px;
}


.subnav__group h3 {
    /*flex-basis: 100%; /* Đặt lại flex-basis để thẻ h3 tự động co dãn theo nội dung */
    margin-bottom: 10px;
}

.subnav__group ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subnav__group + .subnav__group {
    margin-left: 20px; /* Tạo khoảng cách giữa các nhóm */
}

.subnav__group ul li {
    margin-bottom: 10px; /* hoặc điều chỉnh margin theo nhu cầu */
}

.header .sub-nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 21;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 56px;
    background-color: #fff;
}

.header .sub-nav::before {
    position: absolute;
    width: 100%;
    background-color: #000;
    content: "";
    display: block;
}

.header .sub-nav h3 {
    font-size: 1rem;
    color: #000;
    line-height: 1.71;
    letter-spacing: normal;
    font-family: Santral W01;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
    font-weight: 600;
}

.header .sub-nav a {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    margin: 8px 0;
}

.subnav__img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.subnav__img--half {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    float: right;
    width: 100px;
}

.header-hidden {
    top: -200px;
}


.header .sub-nav__inner {
    display: -webkit-box;
    display: flex;
    max-width: 1176px;
    margin: 0 auto;
}

.header .sub-nav__inner>div:not(.sub-nav__img) {
    flex-basis: 100%;
    padding-right: 41px;
}

.subnav__inner {
    display: grid; /* Sử dụng grid layout */
    grid-template-columns: repeat(3, 1fr); /* Chia layout thành 3 cột */
    grid-gap: 20px; /* Khoảng cách giữa các cột */
    padding: 0px 80px;
}

.subnav__inner.hidden {
    display: none; /* Ẩn đi khi có lớp hidden */
}

a.cta {
    border: 1px solid transparent;
    display: inline-block;
}

a.cta .cta-content .cta-text {
    outline: 0;
    border: 0;
}

a.cta .cta-content .cta-text {
    outline: 0;
    border: 0;
    font-family: Santral W01;
    font-weight: 400;
    font-style: normal;
}

/* STORY */
.story {
    position: relative;
}

.story__text p {
    margin-left: 200px;
    margin-right: 200px;
    line-height: 2;
}

.text--full {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.text--full.collapsed {
    display: none;
}

.text--full.collapsed + button {
    display: inline-block;
    margin-top: 10px; /* Khoảng cách giữa nút và nội dung */
}

#readMore, #readLess {
    color: #009384;
    cursor: pointer;
    font-style: italic;
}

/* Infinitely Inspiring */
.infinitely-inspiring {
    text-align: center;
    margin-bottom: 30px;
    overflow: auto;
}

.infinitely-inspiring .image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: relative;
    width: 100%;
    padding: 0 8px;
}
.infinitely-inspiring__image {
    width: 33%;
    position: relative;
    
}

.infinitely-inspiring__image img {
    width: 100%;
    display: block;
    z-index: 0;
}

.infinitely-inspiring__image .image-caption {
    position: relative;
}

.infinitely-inspiring__image .text--full {
    margin-top: 20px; /* Điều chỉnh khoảng cách giữa các phần tử khi mở rộng nội dung */
}

.image-caption__topic {
    /* position: absolute; */
    font-size: 20px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 1;
    width: 100%; /*chiều rộng của hình ảnh */
    box-sizing: border-box; /*padding không tăng kích thước của phần tử */
}

.image-caption a.image-caption__topic {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.image-caption a.image-caption__topic:hover {
    text-decoration: underline;
}

.image-caption__topic p {
    top: 14px;
}

.image-caption p {
    margin-top: 15px;
    font-size: 12px;
    text-align: left;
    padding-bottom: 0; 
    position: relative;
    z-index: 1;
}

.text--full.collapsed {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1; /* nội dung hiển thị trên phần hình ảnh */
    background-color: white; 
}



.inspire_readMore, .inspire_readLess{
    color: #000;
    cursor: pointer;
    font-style: italic;
    margin-top: 5px;
    font-size: 16px;
}

.inspire_readMore:hover, 
.inspire_readLess:hover {
    color: #009384;
}


/* Like mother, like daughter */
.mother-daughter {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(115, 196, 204, 0.8);
}

.mother-daughter__text {
    flex: 1;
    text-align: center; /* Để căn giữa nội dung văn bản */
}

.mother-daughter__text p {
    padding-left: 25px;
    padding-right: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}

.mother-daughter__vid {
    flex: 2; 
}

/* Shop by Category */
.shopCate {
    text-align: center; 
    padding: 48px 30px 24px;
}

.shopCate__heading {
    margin-bottom: 20px; /* Khoảng cách giữa heading và nội dung */
}

.shopCate__content {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; /* Cho phép các phần tử con xuống dòng khi không đủ không gian */
}

.content__item {
    width: 24%; 
    margin-bottom: 20px;
    text-align: center;
}

.content__item img {
    display: block; 
    margin: 0 auto; /* Căn giữa hình ảnh */
    margin-bottom: 6px; 
}

.content__item a {
    display: block; 
    background-color: #a3f2ea;
    font-size: 20px;
    /* text-decoration: underline; */
    padding: 8px;
}

/* The bijou experience */
.experience {
    padding: 6px;
    text-align: center;
    background-color: #fafafa;
}

.experience__heading {
    margin-bottom: 20px;
}

.experience__service-content {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin-bottom: 20px;
}

.service-content__item {
    text-align: center;
    width: 23%;
}

.service-content__icon {
    margin-bottom: 10px;
}

.service-content__title {

}

.experience__service-text h2 {
    font-size: 18px;
}

.experience__service-text p {
    font-size: 14px;
}

.experience__service-link {
    display: flex;
    justify-content: center; /* Căn giữa dòng chữ "Book now" */
    align-items: center; 
    /* height: 100%; */
}

.experience__service-link a {
    text-align: center; /* Căn giữa từng từ trong "Book now" */
    display: inline-block; /* Đảm bảo "Book now" không chiếm toàn bộ chiều rộng */
    vertical-align: middle;
    font-style: italic;
}

/* footer */
.footer {
    display: flex;
    background-color: #fff;
    padding-bottom: 40px;
}

.footer__top-bar {
    width: 100%;
    height: 5px;
    background-color: #81d8d0; 
    position: absolute; 
    left: 0;
    right: 0;
    z-index: 100; 
  }

.footer > * {
    flex: 1; /* Cho các phần tử con của footer chia đều phần còn lại */
}

.footer__left {
    display: flex;
    flex-basis: 50%; /* Phần left chiếm 60% */
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 32px; /* Khoảng cách giữa left và right */
}

.footer__left-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex-basis: 75%;
    
}

.footer__left-col h4 {
    margin-bottom: 16px; /* Khoảng cách giữa tiêu đề và các mục trong danh sách */
}

.footer__left-col ul {
    list-style: none; /* Loại bỏ dấu chấm trong danh sách */
    padding: 0;
    margin: 0;
}

.footer__left-col li {
    font-size: 12px;
    margin-bottom: 20px; /* Khoảng cách giữa các mục trong danh sách */
}

.footer__right {
    flex-basis: 25%; /* Phần right chiếm 40% */
    padding-right: 100px;
    font-size: 12px;
}

.footer__right-top {
    margin-bottom: 20px;
    margin-top: 22px;
}


.footer__right-top span {
    
}

.footer__right-middle {
}

.footer__right-middle p {
    font-size: 12px;
    margin-top: 56px;
}

.footer__right-middle__text {
    margin-bottom: 20px;
}

.footer__right-middle__input {
    position: relative;
    margin-top: 26px;
}

label[for="email"] {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #999; /* Màu in mờ */
    transition: all 0.3s ease; /* Hiệu ứng chuyển động */
    pointer-events: none; /* Tránh label nhận sự kiện click */
}

#email:focus + label[for="email"], 
#email:not(:placeholder-shown) + label[for="email"] {
    top: 0;
    font-size: 12px; /* Kích thước nhỏ hơn khi nhãn nhảy lên */
    color: #333; /* Màu chữ khi nhãn nhảy lên */
}

.footer__right-middle__input input {
    width: calc(100% - 40px);
    padding: 10px;
    position: relative;
    font-size: 14px;
    border: none; /* Xóa bỏ border mặc định */
    border-bottom: 1px solid #000; /* Đường gạch chân */
    padding-bottom: 2px;
    top: 0;
    left: 0;
    transition: top 0.3s ease-in-out;
}

.footer__right-middle__input input span {
    /* ... (các style khác) */
    position: absolute; /* Cần thiết cho hiệu ứng absolute */
    top: 50%; /* Vị trí ban đầu */
    transform: translateY(-50%); /* Di chuyển dọc theo trục Y */
    transition: top 0.3s ease-in-out; /* Hiệu ứng chuyển đổi */
  }

.footer__right-middle__input input:focus {
    outline: none;
}

.footer__right-middle__input input:focus span {
    /* ... (các style khác) */
    top: 40%; /* Nhảy lên khi focus */
    font-size: 11px; /* Thu nhỏ kích thước */
}

.focused {
    top: -5px; /* Di chuyển text email lên trên */
    font-size: 11px; /* Thu nhỏ kích thước */
    transition: top 0.3s ease-in-out; /* Hiệu ứng chuyển đổi */
}

.signup-button {
    display: block;
    width: calc(66.66% - 40px);
    height: 34px;
    margin-top: 26px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000; /* Khung button */
    font-size: 1em;
    cursor: pointer;
    transition: width 0.3s ease;
    font-family: "Fraunces", serif;
}

.footer__right-bottom {
    padding-top: 40px;
    display: flex;
    justify-content: flex-start; /* Canh chỉnh các item con nằm về phía trái */
  }
  
  .footer__right-bottom-item {
    margin-right: 32px; 
  }

  .footer__right-bottom-item i {
    font-size: 30px;
  }
  
  /* Xóa bỏ margin mặc định của các icon (nếu có) */
  .fa-brands fa-*:before {
    margin: 0;
  }